rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && (
          request.auth.token.role == "admin"
          || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == "admin"
        );
    }

    match /pilotMoments/{tournamentId}/{matchId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource != null
        && request.resource.size < 50 * 1024 * 1024
        && (
          request.resource.contentType.matches('image/.*')
          || request.resource.contentType.matches('video/.*')
        );
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
